body {
    font-family: "Figtree Regular";
}

.yellow-container {
    flex: auto;
    justify-content:center;
    background-color: Yellow: hsl(47, 88%, 63%);
    width: 500px;
    padding: 50px;
}

.white-box {
    border: 5px solid red;

    height: 500px;
    padding: 5px;
}

#summary {
    font-size: 16px;
}