body {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 1440px;
}

.yellow-container {
    flex: auto;
    background-color: rgb(244, 217, 82);
    padding: 500px;  // how else do i get the yellow to encompass the entire screen?

}

.white-box {
    flex: auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    height: 525px;
    width: 340px;
    padding: 20px;
    box-shadow: 10px 10px black;
}

#graphic {

}

#learning {
    display: flex;
    margin-top: 15px;
    background-color: rgb(244, 217, 82);
    height: 15px;
    width: 55px;
    justify-content: center;
    font-size:small;
    font-weight:bold;
    padding: 5px;
    border-radius: 5px;
}

#published {
    margin-top: 15px;
}

#course {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

#summary {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.75;
}

#footer {
    margin-top: 20px;
}